<div class="footer wrapper">
	<nav class="nav">
		{{- if .Site.Params.busuanzi -}}
		<div class="inline" style="float:left;">
			PV: <span id="busuanzi_value_site_pv"></span> / UV: <span id="busuanzi_value_site_uv"></span>
		</div>
		{{- end -}}
		<div class="inline">
			2019 - {{ now.Format "2006" }} {{ with .Site.Copyright | markdownify }} {{ . | safeHTML }} {{ end }}
		</div>
	</nav>
</div>

{{ template "_internal/google_analytics_async.html" . }}
{{- with .Site.Params.Social -}}
<script>feather.replace()</script>
{{- end -}}
